<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <!-- include common script files from head.html -->
    <th:block th:include="fragments/head.html :: headerfiles"></th:block>
    <title>Guild Car: home</title>
</head>
<body>
    <div class="container d-flex flex-column min-vh-100">
        <!-- header and nav menu  -->
        <div th:replace="fragments/header.html :: header"> </div>

        <!-- custom contents area for each page -->
        <div class="h-80 p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid col-md-10" id="jumbotron">
                <h1 class="display-5 fw-bold" id="specialTitle" th:text="${specials[0].title}"></h1>
                <p class="fs-4" id="specialDescription" th:text="${specials[0].description}"></p>
                <!--<button class="btn btn-primary btn-lg" type="button">Example button</button>-->
            </div>
        </div>

        <div class="my-3">
            <h2>Featured Vehicles</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 px-3 mb-5">
            <div class="col" th:each="vehicle : ${featuredVehicles}">
                <div class="card h-100">         
                    <img th:src="${vehicle.pictureUrl}" class="rounded mx-auto d-block" style="width: 240px" alt="No Photo Available">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${vehicle.carYear} + ' ' + ${vehicle.make.nameMake} + ' ' + ${vehicle.model.nameModel}"></h5>
                        <p class="card-text" th:text="'$' + ${vehicle.salePrice}"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div th:replace="fragments/footer.html :: footer"></div>
        
        <!-- the jumbotron should rotate through the 5 specials -->
        <script th:inline="javascript">
            $(document).ready(() => {
                displaySpecial(3);
                $('#jumbotron').click(() => window.location.href = "http://localhost:8080/home/specials");
                $('#jumbotron').hover(function() {
                    $(this).css('cursor','pointer');
                });
            });
            
            const displaySpecial = seconds => {
                let specials = [[${specials}]];

                let index = 0;
                setInterval(() => {
                    index = (index < specials.length-1) ? ++index : 0;

                    $('#specialTitle').text(specials[index].title);
                    $('#specialDescription').text(specials[index].description);
                }, seconds * 1000);
            };    
        </script>
    </div>
</body>
</html>
