<!DOCTYPE HTML>
<html>
    <head>
        <!-- include common script files from head.html -->
        <th:block th:include="fragments/head.html :: headerfiles"></th:block>
        <title>Guild Car: home</title>
    </head>
    <body>
        <div class="container d-flex flex-column min-vh-100">
            <!-- header and nav menu  -->
            <div th:replace="fragments/header.html :: header"> </div>

            <!-- custom contents area for title -->
            <div class="my-3">
                <h2>Specials</h2>
            </div>

            <!-- 
                Custom contents area for Specials list 
            -->
            <div th:each="special : ${specials}" class="card p-3 mb-3">
                <div class="row g-0">
                    <div class="col-md-2 text-center">
                        <img src="/img/dollar-96-icons8.png" class="img-fluid rounded-start" style="max-width: 120px" alt="dollar icon">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${special.title}"></h5>
                            <p class="card-text" th:text="${special.description}"></p>
                        </div>
                    </div>
                </div>
            </div>       

            <!-- footer -->
            <div th:replace="fragments/footer.html :: footer"></div>
        </div>

        <!-- custom javascript file location -->
    </body>
</html>
