<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- include common script files from head.html -->
        <th:block th:include="fragments/head.html :: headerfiles"></th:block>
        <title>Guild Car: home</title>
        <th:block th:include="fragments/quicksearch.html :: datepicker-headerfiles"></th:block>
    </head>
    <body>
        <div class="container d-flex flex-column min-vh-100">
            <!-- header and nav menu  -->
            <div th:replace="fragments/header.html :: header"> </div>

            <!-- custom contents area for title -->
            <div class="my-3">
                <h2>Used Vehicles</h2>
            </div>
            
            <div th:replace="fragments/quicksearch.html :: quicksearch-div"></div>

            <!-- 
                Custom contents area for search result 
                - No search results should be shown by default
                = The search should utilize an AJAX call via jQuery.
            -->
            <div class="my-5 d-none" id="resultContainer">
                <h2>Search Results</h2>
                <div id="resultList">
                    
                </div>
            </div>

            <!-- footer -->
            <div th:replace="fragments/footer.html :: footer"></div>
        </div>

        <!-- custom javascript file location -->
        <script src="/js/vehicle.js"></script>
        <script>
            $(document).ready(() => {
                $("#type").val("used");
            });
        </script>
    </body>
</html>
